.container {
  margin: 4rem;
  border-style: solid;
}

.row {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

i:hover {
  cursor: pointer;
}

.pokemon-image {
  width: 50%;
}

.fa-circle {
  padding: 0.5rem;
}

.fa-angle-left {
  margin-left: 50px;
}

.fa-angle-right {
  margin-right: 50px;
}
